// Overrides

// BACKGROUND COLORS
////////////////////
$nav-bg:#002642 !default;
$examples-bg: #002642  !default;
$code-bg: #000 !default;
$nav-active-bg: #000 !default;

// FONTS
////////////////////
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

$font-default-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
